**List**

List adalah jenis kumpulan data terurut(ordered sequence), bisa diubah elemennya (mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada python. Serupa, namun tak sama dengan array pada bahasa pemograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.
Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [1]:
#Contoh list
L1 = [1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [2]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Sifat sifat list

In [4]:
#Terurut/Oedered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1]=2
print("List L1 setelah diganti elemennya:", L1)
L1=[1, "dua", True, 2+3j]

#Dapat Diindeks/Sciling
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1=[1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1=[1, "dua", True, 2+3j]
L1[2]=3
print("Data Setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1=[1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove()=menghapus berdasarkan nama objek)
L1=[1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data Setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [5]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1=[1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [6]:
L1=[1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [7]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1=[1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [8]:
#menghapus elemen dari list menggunakan fungsi pop () (menghapus berdasarkan indeks)
L1= [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [9]:
L1=[1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

In [10]:
#LATIHAN 1

In [11]:
#Contoh list
L1 = [10, 50, 100, 5000]

print(type(L1))

<class 'list'>

In [12]:
L2 = ["b", "matlab", 500]
print(type(L2))

<class 'list'>

In [13]:
print(L1)
print(L2)

[10, 50, 100, 5000]
['b', 'matlab', 500]

In [14]:
#Terurut/Oedered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1]=3
print("List L1 setelah diganti elemennya:", L1)
L1=[2, "tiga", True, 3+4j]

#Dapat Diindeks/Sciling
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1=[2, "tiga", True, 3+4j, 3+4j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1=[2, "tiga", True, 3+4j]
L1[3]=4
print("Data Setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1=[2, "tiga", True, 3+4j]
L1.append(10)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove()=menghapus berdasarkan nama objek)
L1=[2, "tiga", True, 3+4j]
L1.remove(3+4j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [10, 50, 100]
List L1 setelah diganti elemennya: [10, 3, 100, 5000]
Slicing List L1: (3+4j)
Duplikasi pada List L1: [2, 'tiga', True, (3+4j), (3+4j)]
Data Setelah diubah: [2, 'tiga', True, 4]
Data setelah ditambahkan elemennya: [2, 'tiga', True, (3+4j), 10]
Data setelah dihapus elemennya: [2, 'tiga', True]

In [15]:
#LATIHAN2

In [16]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1=[2, "tiga", True, 3+4j]
L1.extend("jeruk")
print(L1)

[2, 'tiga', True, (3+4j), 'j', 'e', 'r', 'u', 'k']

In [17]:
L1=[2, "tiga", True, 3+4j]
L1.extend(["jeruk"])
print(L1)

[2, 'tiga', True, (3+4j), 'jeruk']

In [18]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1=[2, "tiga", True, 3+4j]
L1.insert(2,5)
print(L1)

[2, 'tiga', 5, True, (3+4j)]

In [19]:
#menghapus elemen dari list menggunakan fungsi pop () (menghapus berdasarkan indeks)
L1= [2, "tiga", True, 3+4j]
L1.pop(2)
print(L1)

[2, 'tiga', (3+4j)]

In [20]:
L1=[2, "tiga", True, 3+4j]
L1.pop()
print(L1)

[2, 'tiga', True]

**Struktur data tuple**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [21]:
#Contoh tuple
T1 = (1, "dua", True, 1+2j)
print ("Ini adalah tiple", T1)

Ini adalah tiple (1, 'dua', True, (1+2j))

In [22]:
T11 = 1, "dua", True, 1+2j
print("Ini adalah tuple", T11)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [23]:
#menampilkan tipe struktur data
type(T1)

tuple

In [24]:
type(T11)

tuple

**Sifat Sifat Tuple**

In [25]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [26]:
#Tidak bisa diganti/Immutable
T1[2]="manusia"

TypeError: ignored

In [27]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [28]:
#Dapat diijinkan duplikasi
T2=(3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [29]:
#tidak dapat menambahkan elemen baru
T1=(1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [30]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [31]:
#tidak dapat menghapus elemen
T1= (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [32]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

**Menggabungkan tuple**

In [33]:
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [34]:
#LATIHAN 1

In [35]:
#Contoh tuple
T1 = (2, "tiga", True, 2+3j)
print ("Ini adalah tiple", T1)

Ini adalah tiple (2, 'tiga', True, (2+3j))

In [36]:
T11 = 2, "tiga", True, 2+3j
print("Ini adalah tuple", T11)

Ini adalah tuple (2, 'tiga', True, (2+3j))

In [37]:
#menampilkan tipe struktur data
type(T1)

tuple

In [38]:
type(T11)

tuple

In [39]:
#Terurut/Ordered
T1[0:4]

(2, 'tiga', True, (2+3j))

In [40]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[2])

elemen kedua dari tuple T1 adalah:  True

In [41]:
#Dapat diijinkan duplikasi
T2=(5, 3.6, True, 3.6)
T2

(5, 3.6, True, 3.6)

In [42]:
#tidak dapat menambahkan elemen baru
T1=(2, "tiga", True, 3+4j)
print(f' tuple\t: {T1}')

 tuple	: (2, 'tiga', True, (3+4j))

In [43]:
#tidak dapat menghapus elemen
T1= (2, "tiga", True, 3+4j)
print(f' tuple\t: {T1}')

 tuple	: (2, 'tiga', True, (3+4j))

In [44]:
#LATIHAN2

In [45]:
T3 = T1 + T2
T3

(2, 'tiga', True, (3+4j), 5, 3.6, True, 3.6)